<mat-grid-list cols="3" rowHeight="3:4">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Paramètre :</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/1024px-Logo_IUT_Lens.svg.png">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['jeu']">
      <mat-card-header>
        <mat-card-title>Jeu :</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/1024px-Logo_IUT_Lens.svg.png">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Score :</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/1024px-Logo_IUT_Lens.svg.png">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
